@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  background-color: #1c2028;   /* black background for entire page */
  color: #fff;              /* white text by default */
}

/* optionally target the root div if you prefer:
#root {
  background: black;
  color: white;
}
*/